extends ../layout

block content
  div.header
    h1 New Post
  div.postContent
    form(action="/posts", method="post")
      label(for = "postTitle") Title:
      input#postTitle(type="text" name="postTitle")
      br
      label(for="postAuthor") Author:
      input#postAuthor(type="text" name="postAuthor")
      br
      label(for="postBody") Body:
      textarea#postBody(name="postBody", cols="30", rows="10")
      input(type="submit", value="Submit")
