extends layout

block content
  h1= Posts
  p Create Post
  div(class="loginForm")
    form(name="textForm", method="post", action="/posts")
      label(for="title") Title:
      input(type="text", name="title", id="title")
      br
      label(for="body") Body:
      textarea#body(name="body", cols="30", rows="10")
